<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="!recipe">Loading recipe...</p>

  <div *ngIf="recipe">
    <h2>{{ recipe.title }}</h2>

    <img
      [src]="recipe.image"
      alt="recipe image"
      style="width: 100%; max-width: 400px;"
    />

    <h3>Ingredients ({{ measurement === 'metric' ? 'Metric' : 'US' }})</h3>

<ion-list>
  <ion-item *ngFor="let ing of recipe.extendedIngredients">
    <ion-label>
      <div>
        <strong>{{ ing.original }}</strong>
      </div>

      <div *ngIf="measurement === 'metric'">
        {{ ing.measures.metric.amount }} {{ ing.measures.metric.unitLong }}
      </div>

      <div *ngIf="measurement === 'us'">
        {{ ing.measures.us.amount }} {{ ing.measures.us.unitLong }}
      </div>
    </ion-label>
  </ion-item>
</ion-list>

    <h3>Instructions</h3>

    <ion-list *ngIf="recipe.analyzedInstructions.length > 0">
      <ion-item *ngFor="let step of recipe.analyzedInstructions[0].steps">
        <ion-label>
          <strong>Step {{ step.number }}:</strong>
          {{ step.step }}
        </ion-label>
      </ion-item>
    </ion-list>

    <p *ngIf="recipe.analyzedInstructions.length === 0">
      No instructions available.
    </p>
   
    <ion-button expand="block" class="ion-margin-top" (click)="toggleFavourite()">
  {{ isFav ? 'Remove From Favourites' : 'Add to Favourites' }}
</ion-button>

  </div>


</ion-content>
