<ion-header>
  <ion-toolbar>
    <ion-title>G00472924</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourite']">
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Home is loading correctly.</p>

  <ion-item>
    <ion-input
      label="Ingredients"
      labelPlacement="stacked"
      placeholder="e.g. chicken, rice"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top">
    Search
  </ion-button>
</ion-content>
