<ion-header>
  <ion-toolbar>
    <ion-title>G00472924</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourite']">
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Enter ingredient(s) separated by commas, then press Search.</p>

  <ion-item>
    <ion-input
      label="Ingredients"
      labelPlacement="stacked"
      placeholder="e.g. chicken, rice"
      [(ngModel)]="ingredients"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="search()">
    Search
  </ion-button>

  <ion-spinner *ngIf="isLoading" class="ion-margin-top"></ion-spinner>

  <ion-text color="danger" *ngIf="errorMessage">
    <p class="ion-margin-top">{{ errorMessage }}</p>
  </ion-text>

  <ion-list *ngIf="recipes.length > 0">
    <ion-item *ngFor="let r of recipes">
      <ion-thumbnail slot="start">
        <img [src]="r.image" alt="recipe" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ r.title }}</h2>
      </ion-label>

      <ion-button slot="end" fill="outline" [routerLink]="['/recipe-details', r.id]">
        Details
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
